name: Jekyll site CI

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: fetch origin gh-pages
      run: git fetch origin gh-pages:gh-pages
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod 777 /srv/jekyll && jekyll build --future"
    - name: What files exist
      run: find ${{ github.workspace }}/_site
    - name: Git status
      run: git status && git branch && git branch -r
    - name: Configure Git Author
      run: |
        git config user.email "actions@github.com" && \
        git config user.name "Github Actions"

    - name: Copy repo
      run: |
        cp -a ${{ github.workspace }} ${{ github.workspace }}/../gh-pages && \
        cd ${{ github.workspace }}/../gh-pages && \
        git checkout gh-pages && \
        rsync --progress --delete -a -n ${{ github.workspace }}/_site/ ./ --exclude=.git && \
        git add . && git commit -m "$(date) $ACTIONS_RUNTIME_URL" && \
        git push -f
