name: Jekyll site CI

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: fetch origin gh-pages
      run: git fetch origin gh-pages
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod 777 /srv/jekyll && jekyll build --future"
    - name: What files exist
      run: find ${{ github.workspace }}/_site
    - name: Git status
      run: git status && git branch && git branch -r
    - name: Configure Git Author
      run: |
        git config user.email "actions@github.com" && \
        git config user.name "Github Actions"
    - name: Copy repo
      run: cp -a ${{ github.workspace }} ${{ github.workspace }}/../gh-pages
    - name: checkout gh-pages, sync and push
      run: git checkout --track origin/gh-pages
      working-directory: ${{ github.workspace }}/../gh-pages
    - name: rsync _site to gh-pages
      run: rsync --progress --delete -a -n ${{ github.workspace }}/_site/ ./ --exclude=.git/
      working-directory: ${{ github.workspace }}/../gh-pages
    - name: Git status gh-pages
      run: git status && git branch && git branch -r && find .
      working-directory: ${{ github.workspace }}/../gh-pages
    - name: git add gh-pages
      run: git add .
      working-directory: ${{ github.workspace }}/../gh-pages
    - name: commit gh-pages
      run: git commit -m "$(date) $ACTIONS_RUNTIME_URL"
      working-directory: ${{ github.workspace }}/../gh-pages
    - name: push gh-pages
      run: git push
      working-directory: ${{ github.workspace }}/../gh-pages
