name: Jekyll site CI

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: fetch origin gh-pages
      run: git fetch origin gh-pages
    - name: Copy repo
      run: cp -a ${{ github.workspace }} ${{ github.workspace }}/../gh-pages
    - name: checkout gh-pages
      run: git checkout --track origin/gh-pages
      working-directory: ${{ github.workspace }}/../gh-pages
    - uses: ruby/setup-ruby@v1
      env:
        BUNDLE_BIN: bin
      with:
        bundler-cache: true
    - name: Build using local jekyll
      run: "PATH=$PATH:${{ github.workspace }}/bin" jekyll build --future
    - name: Configure Git Author
      run: |
        git config --global user.email "actions@github.com" && \
        git config --global user.name "Github Actions"
    - name: rsync _site to gh-pages
      run: rsync --progress --delete -a ${{ github.workspace }}/_site/ ${{ github.workspace }}/../gh-pages/ --exclude=.git/
    - name: Diff
      run: git add . && git diff --cached --exit-code || git commit -m "$(date) $ACTIONS_RUNTIME_URL"
      working-directory: ${{ github.workspace }}/../gh-pages
    - name: Publish
      if: ${{ github.ref == 'refs/heads/main' }}
      run: git push
      working-directory: ${{ github.workspace }}/../gh-pages
