name: Jekyll site CI

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: fetch origin gh-pages
      run: git fetch origin gh-pages
    - name: Build the site in the jekyll/jekyll container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/jekyll /bin/bash -c "chmod 777 /srv/jekyll && jekyll build --future"
    - name: Configure Git Author
      run: |
        git config user.email "actions@github.com" && \
        git config user.name "Github Actions"
    - name: Copy repo
      run: cp -a ${{ github.workspace }} ${{ github.workspace }}/../gh-pages
    - name: checkout gh-pages
      run: git checkout --track origin/gh-pages
      working-directory: ${{ github.workspace }}/../gh-pages
    - name: rsync _site to gh-pages
      run: rsync --progress --delete -a ${{ github.workspace }}/_site/ ${{ github.workspace }}/../gh-pages/ --exclude=.git/
    - name: Publish
      shell: bash
      run: git add . && && git diff --cached --exit-code || git commit -m "$(date) $ACTIONS_RUNTIME_URL"  git push
      working-directory: ${{ github.workspace }}/../gh-pages
